[Unit]                                                                                                  
Description=Yandex rclone                                                                                
After=network-online.target                                                                             
Wants=network-online.target                                                                             
                                                                                                        
[Service]                                                                                              
Type=notify                                                                                             
ExecStart=/usr/bin/rclone mount --config /home/pi/.config/rclone/rclone.conf yandex: /home/pi/media/cloud_yandex   
Restart=on-abort                                                                                        
                                                                                                        
[Install]                                                                                               
WantedBy=default.target             
