[Unit]                                                                                                  
Description=Google Drive (rclone)                                                                                
After=network-online.target                                                                             
Wants=network-online.target                                                                             
                                                                                                        
[Service]                                                                                              
Type=notify  
ExecStart=/usr/bin/rclone mount --allow-other --config /home/pi/.config/rclone/rclone.conf --drive-shared-with-me google: /home/pi/mnt/cloud_google 
Restart=on-abort   
                                                                                                        
[Install]                                                                                               
WantedBy=default.target             
